/*  -----------------------------------------------------------------------------
	::  MODULE - FOO
	::
	::	Set styles for component FOO
	----------------------------------------------------------------------------- */

#main{
  padding: 5rem;
}

.container{
  width: 80%;
  margin: 0 auto;
}

#vis{
  // height: 20rem;

  $border: 1px solid calcShade(17);

  border: $border;
  background: white;
  font-family: $sans-serif;


  .title{
    margin: 0;
    padding: .5rem;
    border-bottom: $border;
    font-weight: 500;
    color: black;
    @include background-image(linear-gradient(calcShade(4), calcShade(6)));
  }

  .legend{
    font-size: $ms--1;
    list-style-type: none;
    margin: 0;
    li{
      margin: 0;
      display: inline;
      margin: .5rem;
      > span{
        line-height: 2.5rem;
      }
      .circle{
        $radius: .5rem;
        display: inline-block;
        border-radius: 50%;
        height: $radius;
        width: $radius;
        margin-right: .3rem;
        position: relative;
        bottom: .03rem;
      }
      .text{
        display: inline;
      }
    }
  }

  .chart{
    .axis{
      text{
        fill: calcShade(69);
        font-size: .7em;
        font-family: $sans-serif;
        text-anchor: start;
      }
      path, line{
        fill: none;
        stroke: calcShade(13);
        shape-rendering: crispEdges;
      }
      &.y{
        // Hide 0 Label
        > g:first-child text{
          display: none;
        }
      }
      > path{
      display: none;
      }
    }
    .series path{
      opacity: .7;
    }
  }
}